<div id="content">
	<div class="row">
		<sa-big-breadcrumbs [items]="['Dashboard']" icon="home" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></sa-big-breadcrumbs>
		<sa-widgets-grid>
			<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<sa-widget color="teal" [sortable]="false" [fullscreenbutton]="false" [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
					<header>
						<h2>Date range</h2>
					</header>
					<div class="widget-body">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" id="from" name="startdate" (onMinPicked)="onMinPicked($event)" [(ngModel)]="dateFrom" #send_date="ngModel"
									 [saUiDatepicker]="{
                                    dateFormat: 'yy-mm-dd',
                                    defaultDate: '+1w',
                                    changesMonth: true,
                                    numberOfMonth: 3,
                                    minRestrict: '#to',
                                    ngModel: 'dateFrom',
									 maxDate: 0
                                 }" type="text" placeholder="From">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" id="to" name="enddate" (onMaxPicked)="onMaxPicked($event)" [(ngModel)]="dateTo" [saUiDatepicker]="{
                                    dateFormat: 'yy-mm-dd',
                                    defaultDate: '+3w',
                                    changesMonth: true,
                                    numberOfMonth: 3,
									 maxDate: 0
                                 }" type="text" placeholder="To">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
				</sa-widget>
			</article>
		</sa-widgets-grid>
	</div>
	<sa-widgets-grid>
		<div class="row">
			<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<sa-widget color="teal" [sortable]="false" [fullscreenbutton]="false" [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
					<header>
						<h2>Invitations sent</h2>
					</header>
					<div>
						<div class="widget-body text-center">
							<h1><strong class="font-xl">{{invitationCount}}</strong></h1>
						</div>
					</div>
				</sa-widget>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<sa-widget color="teal" [togglebutton]="false" [sortable]="false" [fullscreenbutton]="false" [colorbutton]="false" [editbutton]="false"
				 [deletebutton]="false">
					<header>
						<h2>Verified reviews</h2>
					</header>
					<div>
						<div class="clearfix"></div>
						<div class="widget-body text-center">
							<h1>
								<strong class="font-xl">{{verifiedReviewsCount}}</strong>
								<span *ngIf="verifiedReviewsPercent" style="padding-left: 10px">({{verifiedReviewsPercent}}%)</span>
							</h1>
						</div>
					</div>
				</sa-widget>
			</article>
			<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<sa-widget color="teal" [togglebutton]="false" [sortable]="false" [fullscreenbutton]="false" [colorbutton]="false" [editbutton]="false"
				 [deletebutton]="false">
					<header>
						<h2>Average rating</h2>
					</header>
					<div>
						<div class="widget-body text-center">
							<h1><strong class="font-xl">{{totalRating | number: '1.1-1'}}</strong></h1>
						</div>
					</div>
				</sa-widget>
			</article>
		</div>
	</sa-widgets-grid>
</div>