.tab-content {
    margin: 0 0 30px;
}

.tableTab {
    padding: 13px;
    /* padding-top: 30px; */
    background-color: #ffffff;
}

#divSmallBoxes {
    position: fixed;
    right: unset;
    top: 0;
    z-index: 9999;
    width: 100%;

}
.SmallBox {
    position: relative;
    right: unset;
    margin: auto;
    top: 67px;
    max-width: 235px;
    border-radius: 15px;
    -webkit-animation-name: fadeInDown!important;
    -moz-animation-name: fadeInDown!important;
    -o-animation-name: fadeInDown!important;
    animation-name: fadeInDown!important;
}

.SmallBox span {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
    display: block;
    margin: 4px 0;
}

.SmallBox p {
    margin: 0;
}

.SmallBox .textoFull {
    display: inline-block;
    float: right;
}
.SmallBox .miniIcono {
    display: inline-block;
    float: left;
    font-size: 18px;
}

i.miniPic {
    left: 10px;
    right: unset;
    bottom: 5px;
    color: #589493;
}

i.miniPic.red {
	color: rgb(196, 106, 105);
}

.feedback-product-img {
    max-width:150px;
}

.dropdown-menu {
	min-width: 50px;
}

.smart-style-1 #header {
    background-color: #fcfefd;
    border-bottom: 1px solid #cfcfcf;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.smart-style-1 #logo-group {
    background: #568a89!important;
}

.smart-style-1 #hide-menu a,
.smart-style-1 .btn-header>:first-child>a {
    background: none;
    border: none;
    color: #568a89!important;
    font-size: 25px;
}

.smart-style-1 #hide-menu i {
    color: #568a89!important;
}

.smart-style-1 #hide-menu a {
    font-size: 28px;
}

.hidden-menu #hide-menu>:first-child>a,
.smart-style-1 .btn-header>:first-child>a {
    background-color: inherit;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border: none;
}

sa-collapse-menu {
    padding-left: 7px;
}

/* logo start */

#logo {
    margin-top: 5px;
	color: #ffffff;
	margin-left: 46px;
}

#logo .upper-container:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 29px;
    right: auto;
    top: 17px;
    bottom: auto;
    border: 11px solid;
    border-top: 0px solid;
    border-color: transparent transparent transparent #ffffff;
}

#logo .upper-container {
    background-color: #ffffff;
    color: #568a89;
    display: inline;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 1px 15px 1px 15px;
    margin-left: 15px;
	font-size: 12px;
	position: relative;
}

.revert#logo {
	color: #568a89;
	margin-left: 0;
	margin-top: unset;
}

.revert#logo .upper-container:after {
	border-color: transparent transparent transparent #568a89;
}

.revert#logo .upper-container {
	background-color: #568a89;
	color: #ffffff;
}
/* logo end */

.nav-tabs>li>a {
    background-color: #568a89;
    color: #ffffff;
    border: none;
}

.nav-tabs>li.active>a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top-width: 0!important;
    margin-top: 1px!important;
    font-weight: 700;
    border: none;
}

.borderless {
    border: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #406564;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.greenTable {
    color: #000;
    width: 100%;
}

.greenTable thead {
    background-color: #b6d3d1;

}

.greenTable thead th {
    font-weight: normal;
    padding: 15px;
    text-align: center;
}

.greenTable tr {
    border-bottom: 1px solid #ffffff;
}

.greenTable td {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    padding: 15px;
    max-width: 250px;
}

.greenTable>tbody>tr {
    background-color: #e5eff0;
}

.greenTable>tbody>tr:nth-of-type(odd) {
    background-color: #edf3f3;
}

.greenTable thead input {
    line-height: 25px;
    border: 1px solid #d9d7d8;
    padding-left: 10px;
}

.tableButton, .dateFilterButton {
    padding: 7px 15px;
    border: none;
	color: #ffffff;
	width: 60px;
    margin-bottom: 5px;
}

.dateFilterButton {
	 background-color: #568a89;
}

.tableButton.accept {
    background-color: #90c366;
}
.tableButton.reject {
    background-color: #da7c7c;
}
.tableButton.moderate {
    background-color: #daaa46;
}
i.fa.fa-star.yellow {
    color: #e9c800;
}

input[type="checkbox"].ios-toggle {
    display: none;
}

.toggle {
    position: relative;
    width: 51px;
    height: 31px;
    cursor: pointer;
}

.toggle label,
.toggle i {
    box-sizing: border-box;
    display: block;
    background: #ffffff;
    cursor: pointer;
}

.toggle label {
    width: 44px;
    height: 24px;
    border-radius: 32px;
    border: 2px solid #e5e5e5;
    transition: all 0.30s ease;
}

.toggle i {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 28px;
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
    0 3px 3px 0 rgba(0,0,0, 0.15);
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.250, -0.425, 0.700, 1.425);
}

.toggle.product i {
    left: 6px;
}

input[type="checkbox"]:active + .toggle i {
    width: 35px;
}

input[type="checkbox"].ios-toggle:active + .toggle label,
input[type="checkbox"].ios-toggle:checked + .toggle label {
    border: 12px solid #568a89;
    /*border: 12px solid #8dc061;*/
}

input[type="checkbox"].ios-toggle:checked + .toggle i {
    left: 22px;
}

input[type="checkbox"].ios-toggle.product:checked + .toggle i {
    left: 26px;
}

input[type="checkbox"].ios-toggle:checked:active + .toggle label {
    border: 12px solid #e5e5e5;
}

input[type="checkbox"].ios-toggle:checked:active + .toggle i {
    left: 14px;
}

.dropdown-container {
    height: 35px;
    border: 1px solid #ccc;
    padding: 0;
    max-width: 120px;
}

.fancy-dropdown {
    line-height: 32px;
    width: 100%;
    display: block;
    color: #000000;
}

.fancy-dropdown:hover {
    color: #000000;
}

.fancy-dropdown-box {
    max-height: 200px;
    overflow: auto;
}
body:not(.menu-on-top).desktop-detected {
    min-height: 100% !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #000;
    background-color: #e1e7e7;
}
.dropdown-menu>li>a.active {
    color: #fff;
    background-color: #598b8a;
}

#extr-page #main {
    position: absolute;
    width: 100%;
	height: 100%;
	background-color: #dcf0f1;
}

.smart-form .login-button {
	width: 80%;
    padding: 10px 0;
    background-color: #598b8a;
    border: none;
    border-radius: unset;
}

.login-button:active:hover {
	background-color: #4f7776;
}
.smart-form .input input.login-input:hover,
.smart-form .input input.login-input:active,
.smart-form .input input.login-input:focus {
	border-color: rgba(89,139,138, 0.5);
}
.smart-form .input input.login-input {
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	border-color: #e4e6e5;
}

.dropdown-filter {
	background-color: #568a89;
	border-color: rgba(89,139,138, 1);
}

.dropdown-filter:hover,
.dropdown-filter:focus,
.dropdown-filter:active,
.dropdown-filter:active:focus,
.dropdown-filter:active:hover,
.open>.dropdown-toggle.btn-primary.dropdown-filter {
	background-color: #4f7776;
	border-color: rgba(89,139,138, 0.5);
}

.pagination>li>a,
.pagination>li>span {
	color: #4f7776;
}

.smart-style-1 .pagination>.active>a {
	background-color: #568a89;
}

app-root, app-main-layout, app-auth-layout, app-locked, #extr-page {
	min-height: unset;
}
