<div id="main" role="main" class="animated fadeInDown request">
	<div *ngIf="loadError" class="message-container error-container">{{loadError.message}}</div>
	<div *ngIf="feedbackLeft" class="message-container success-container">{{feedbackLeft.message}}</div>
	<div *ngIf="request && !feedbackLeft" id="content" class="container align-center">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-offset-3 col-lg-6">
				<div class="well no-padding">
					<form style="color: #9b999a;  font-size: 14px;" class="smart-form client-form">
						<fieldset style="padding: 30px 40px 40px 40px">
							<div style="text-align:center;">
								<span style="margin: 0; width: 50%;">
									<img [src]="request.client.logourl" />
								</span>
							</div>
							<div style="text-align:center; font-weight: 600; line-height: 25px; padding-top: 10px">
								Sveiki, {{request.client.name}} kviečia palikti atsiliepimą.
							</div>
							<template ngFor let-product [ngForOf]="request.products">
								<div style="text-align: center; font-weight: 600">
									<div style="padding-bottom: 15px; padding-top: 15px;">{{product.name}}</div>
								</div>
								<div class="col-xs-12 comment-label">Įvertinimas:</div>
								<div style="text-align: center;">
									<div style="text-align: left;" class="col-sm-2 col-xs-1 request-rating">
										<input type="radio" id="{{product.id}}rating-1" [(ngModel)]="product.totalratingscore" name="product{{product.id}}totalratingscore" value="1">
										<label for="{{product.id}}rating-1" style="font-size: 1.3em; color: #eed034;">★</label>
									</div>
									<div class="col-sm-2 col-xs-2 request-rating">
										<input type="radio" id="{{product.id}}rating-2" [(ngModel)]="product.totalratingscore" name="product{{product.id}}totalratingscore" value="2">
										<label for="{{product.id}}rating-2" style="font-size: 1.3em; color: #eed034;">★★</label>
									</div>
									<div class="col-sm-2 col-xs-3 request-rating">
										<input type="radio" id="{{product.id}}rating-3" [(ngModel)]="product.totalratingscore" name="product{{product.id}}totalratingscore" value="3">
										<label for="{{product.id}}rating-3" style="font-size: 1.3em; color: #eed034;">★★★</label>
									</div>
									<div class="col-sm-3 col-xs-3 request-rating">
										<input type="radio" id="{{product.id}}rating-4" [(ngModel)]="product.totalratingscore" name="product{{product.id}}totalratingscore" value="4">
										<label for="{{product.id}}rating-4" style="font-size: 1.3em; color: #eed034;">★★★★</label>
									</div>
									<div class="col-sm-3 col-xs-3 request-rating">
										<input type="radio" id="{{product.id}}rating-5" [(ngModel)]="product.totalratingscore" name="product{{product.id}}totalratingscore" value="5">
										<label for="{{product.id}}rating-5" style="font-size: 1.3em; color: #eed034;">★★★★★</label>
									</div>
								</div>
								<!--<ng-container *ngIf="request.client.showheader">-->
									<!--<div>-->
										<!--<div class="col-xs-12">Antraštė</div>-->
										<!--<div class="col-xs-12">-->
											<!--<input class="form-control" name="product.commentheader" [(ngModel)]="product.commentheader" type="text">-->
										<!--</div>-->
									<!--</div>-->
								<!--</ng-container>-->
								<div>
									<div style="padding-top: 20px;" class="col-xs-12 comment-label">Komentaras:</div>
									<div class="col-xs-12">
										<textarea style="padding-left: 5px; border: 1px solid #d7d7d7;line-height: 30px;width: 100%;" name="product.commentcontent" [(ngModel)]="product.commentcontent" rows="5"></textarea>
									</div>
								</div>
								<div class="clearfix"></div>
								<hr style="display: block; height: 1px; border: 0; border-top: 1px solid #fff; margin: 1em; padding: 0;">
							</template>
							<div style="text-align: center;">
								<button [ngStyle]="{'background-color': request.client.themecolor ? request.client.themecolor : '#fa7e28'}" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-top: 10px;border: none;padding: 15px 30px; color: white; font-size: 16px; font-weight: 600; letter-spacing: 1.8px;" (click)="sendFeedback()">Palikite atsiliepimą/-us</button>
							</div>
							<!--<section>-->
								<!--<label class="input">-->
									<!--<input class="login-input" [(ngModel)]="email" type="email" name="email" placeholder="Email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">-->
								<!--</label>-->
							<!--</section>-->
							<!--<section>-->
								<!--<label class="input">-->
									<!--<input class="login-input" [(ngModel)]="password" type="password" name="password" placeholder="Password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">-->
								<!--</label>-->
							<!--</section>-->
							<!--<section style="text-align: center;">-->
								<!--<button (click)="login($event)" class="btn btn-primary login-button">LOGIN</button>-->
							<!--</section>-->
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>